$text-color: #f4f4f4;
$back-color: #112233;
$dark-text: #333;
$btn-color: limegreen;

.contact {
    background-image: url(../images/circle-scatter-haikei.svg);
    background-size: cover;
}
.contact ul  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 980px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 1rem;
   

    li {
        flex: 1 1 320px;
        margin: .5rem;
        
    }

    .intro-contact {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;

        h2 {
            font-size: 2rem;
            color: $text-color;
            padding: .5rem;
            margin-top: 1rem;
        }

        p {
            font-size: 1.2rem;
            color: $text-color;
            padding: .5rem;
            margin-top: 1rem;
        }

        .social {
            margin-top: 1rem;
            padding: .5rem;
            align-self: flex-start;
        }
        
    }





    form {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        margin: .5rem;

        input {
            width: 100%;
            line-height: 1.6;
            padding: .5rem;
            margin: .5rem;
            border-radius: 15px;
            border: none;

            
        }
        textarea {
            width: 100%;
            margin: .5rem;
            border-radius: 15px;
            border: none;
            padding: .5rem;
        }

        button {
            align-self: flex-start;
            padding: .5rem 1rem;
            background-color: $back-color;
            color: $text-color;
            border: none;
            font: 1.4rem;
            margin: .5rem;
            transition: 1s all ease-in-out;
            border: .1px solid $text-color;

            &:hover {
                background-color: #254668;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .contact ul {
        flex-direction: column;
        

        
    }
    
}



